<<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h>Fitness Feud</h>
        <ul>
        {% for group in group_list %}
        <li>{{ group.group_name }}</li>
        {% endfor %}
        </ul>
        <form action="", method="post">
            {% csrf_token %}
            <label for="fname">Create Group:</label><br>
            <input type="text" id="fname" name="fname" value=""><br>
            <input type="submit" value="Submit">

            {% if fname in group_list %}
                Display search results here. {{search_results}}
            {% endif %}
        </form> 
        
        <form action="", method="post">
            {% csrf_token %}
            <label for="gname">Find Group:</label><br>
            <input type="text" id="gname" name="gname" value=""><br>
            <input type="submit" value="Submit">
        </form>
        <script src="" async defer></script>
    </body>
</html>