{%load static%}
<html>
    <nav>
        <a href="/polls/home">Home</a>
        <a href="/polls/group/{{group_id}}">Rankings</a>
        <a href="/polls/group/image_gallery/{{ group_id }}">Photo Gallery</a>  
        <a href="/polls/group/submission">Submission</a>
    </nav>
    <head>
        <link href='{% static "polls\soft-design-system.min.css" %}' rel="stylesheet">
    </head>
    <body>
        {% for i in select %}
        {% if i.image != 0 %}
            <h4>{{i.name}}, {{i.duration}} mins, {{i.distance}} miles, {{i.cups}} cups of water</h4>
            <div class = "gallery">
                <a target ="_blank" href = "/../../../media/{{i.image}}">
                    <img src = "/../../../media/{{i.image}}" alt = "pizzatime" width="600" height = "400">
                </a>
            </div>
        {% endif %}
    {% endfor %}
    </body>
</html>