<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!<![endif]-->
{%load static%}
<html>
    <style>
        div.flex-box {
            display: flex;
            justify-content: space-evenly;
            background-color: rgba(109, 109, 238, 0.973);
            padding: 10px 60px;
        }
    </style>
    <div class="flex-box">
        <a href="/polls/home">Home</a>
    </div>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link href='{% static "polls\soft-design-system.min.css" %}' rel="stylesheet">
    </head>
    <body>
        <form action="", method="post">
            {% csrf_token %}
            <label for="fname">First name:</label><br>
            <input type="text" id="fname" name="fname" value="John"><br>
            <label for="lname">Last name:</label><br>
            <input type="text" id="lname" name="lname" value="Doe"><br><br>
            <input type="submit" value="Submit">

            {% if search_results %}
                Display search results here. {{search_results}}
            {% endif %}
        </form> 
        
        <script src="" async defer></script>
    </body>
</html>